.lead__image_group {
    width: 937.09px;
    height: 262.99px;
    margin: 0;
    padding: 90px 23px 261px 23px;
    position: absolute;
    overflow: hidden;
    background-image: url(../../../../image/kalegin-michail-179870-unsplash.png);
}