.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
    margin: 0 auto;
    padding: 28px 0 46px 0;
    background-color: #2A2C2F;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .lead {
        padding: 20px 0;
    }
}