.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    max-width: 720px;
}

@media (max-width: 680px) {
    .lead__title {
        font-size: 10vh;
        line-height: 1;
    }
}

@media (max-width: 425px) {
    .lead__title {
        font-size: 6vh;
        line-height: 1;
    }
}

@media (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
        max-width: 288px;
    }
}

/* @media (min-width: 320px) and (max-width: 768px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
} */