.cover {
    max-width: 1280px;
    margin: 0 auto;
    padding: 46px 0;
}

.cover:hover .cover__background::before {
    opacity: 1;
}

@media (max-width: 1024) {
    .cover {
        pmargin: 0;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 0;
    }
}

@media (max-width: 425px) {
    .cover {
        margin: 0;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 0;
    }
}

