.cover__background {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    /* min-height: 740px; */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../../../image/__background.jpg);
}