.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}

@media (max-width: 1023px) {
    .cover__title {
        font-size: 56px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 35px;
    }
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 26px;
    }
}

@media (max-width: 320px) {
    .cover__title {
        font-size: 22px;
        max-width: 288px;
        margin: 0 0 16px 0;
    }
}