.place__paragraph-1 {
    width: 484px;
    max-height: 348px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    position: absolute;
    padding: 0;
    margin: 0 0 26px 0;
    top: 200px;
    left: 500px;
}