.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 46px 48px 24px 48px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .footer {
        padding: 71px 24px 24px 24px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 32px 118px 24px 16px;
        flex-direction: column;
        align-items: flex-start;
    }
}