.lead__image-extra {
    position: absolute;
    --left: 23px;
    left: var(--left);
    top: 90px;
    width: calc(100% - (var(--left) * 2));
}

@media (max-width: 1024px) {
    .lead__image-extra {
        --left: 22px;
        top: 85px;
    }
}

@media (max-width: 768px) {
    .lead__image-extra {
        --left: 18px;
        top: 70px;
    }
}

@media (max-width: 320px) {
    .lead__image-extra {
        --left: 8px;
        top: 29px;
    }
}