.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 768px) {
    .intro__title {
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        padding: 40px 16px;
    }
}